<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Product List</h2>
  </div>
  <button
  (click)="createProduct()"
  class="btn btn-info"
  style="margin-left: 10px;"
>
  Create
</button>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | async">
          <td>{{ product.ProdName }}</td>
          <td>{{ product.ProductCategory.CategoryName }}</td>
          <td>{{ product.ProdDescription }}</td>

          <td>

            <button
              (click)="editProduct(product.ProductId)"
              class="btn btn-info"
              style="margin-left: 10px;"
            >
              Details
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
